<quick-view-modal class="quick-view__modal-wrapper">
  <div class="quick-view__modal">
    <button class="quick-view__modal-close">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
        <path d="M5.03784 4.94354L13.5231 13.4288" stroke="currentColor" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"></path>
        <path d="M5.03784 13.4285L13.5231 4.94325" stroke="currentColor" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"></path>
      </svg>
    </button>
    <div class="quick-view__skeleton">
      <div class="quick-view__skeleton-product">
        <div class="quick-view__skeleton-img skeleton"> </div>
        <div class="quick-view__skeleton-details">
          <div class="quick-view__skeleton-line skeleton"> </div>
          <div class="quick-view__skeleton-line skeleton"> </div>
        </div>
      </div>
      <div class="quick-view__skeleton-line skeleton-select skeleton"> </div>
      <div class="quick-view__skeleton-line skeleton-button skeleton"> </div>
    </div>
    <div class="quick-view__modal-content"></div>
  </div>
</quick-view-modal>