{{ 'section-hero.css' | asset_url | stylesheet_tag }}

<div class="hero color-{{ section.settings.color_scheme }}">
  <div class="hero-image">
    {%- liquid
      assign sizes = '100vw'
      assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 2560'
      assign fetch_priority = 'auto'
      if section.index == 1
        assign fetch_priority = 'high'
      endif
    -%}
    {%- if section.settings.image_desktop -%}
      {{
        section.settings.image_desktop
        | image_url: width: 2560
        | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
      }}
    {%- else -%}
      {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder' }}
    {%- endif -%}
  </div>
  <div class="hero-text page-width">
    <div class="hero-text__container">
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Hero",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_desktop",
      "label": "Desktop image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Mobile image"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Title",
      "default": "The Gift Guide"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season.</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
      "default": "Shop now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Hero"
    }
  ]
}
{% endschema %}