{% if section.settings.text != blank %}
  <div class="promotional-text color-{{ section.settings.color_scheme }}">
    <div class="page-width">
      {{ section.settings.text }}
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Promotional bar",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "Text",
      "default": "SUSTAINABLE, ETHICALLY MADE ACTIVEWEAR"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Promotional bar"
    }
  ]
}
{% endschema %}