{% if section.settings.text != blank %}
  <div class="promotional-text color-{{ section.settings.color_scheme }}">
    <div class="page-width">
      <span class="{% if section.settings.text_mobile != blank %}small-hide{% endif %}">
        {{ section.settings.text }}
      </span>
      {%- if section.settings.text_mobile != blank -%}
        <span class="medium-hide large-up-hide">
          {{ section.settings.text }}
        </span>
      {%- endif -%}
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Promotional bar",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "Desktop text",
      "default": "SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL"
    },
    {
      "type": "inline_richtext",
      "id": "text_mobile",
      "label": "Mobile text",
      "default": "SUSTAINABLE, ETHICALLY MADE ACTIVEWEAR"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Promotional bar"
    }
  ]
}
{% endschema %}