<div class="slideshow">
  
</div>

{% schema %}
{
  "name": "Slideshow",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    }
  ],
  "blocks": [
    
  ]
}
{% endschema %}
