@media screen and (min-width: 1200px) {
  .lookbooks .page-width {
    padding-left: 5.15rem;
    padding-right: 4.95rem;
  }
}

.lookbooks-heading {
  font-family: 'Lustria', serif;
  font-size: calc(var(--font-heading-scale) * 3.6rem);
  font-weight: 400;
  line-height: 1.19444444;
  margin: 0 0 3rem;
}

.lookbook-grid {
  --grid-gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: var(--grid-gap);
}

.lookbook-item {
  width: calc(33.3333333% - var(--grid-gap) * 2 / 3);
}

.lookbook-item__media {
  position: relative;
}

.lookbook-item__view-buton {
  position: absolute;
  top: calc(var(--spacing-top) - 1.1rem);
  left: calc(var(--spacing-left) - 1.1rem);
  width: 2.2rem;
  height: 2.2rem;
  background: rgb(248 248 248 / 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.1rem;
}